@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  

  /* Overriding default blue to global primary color #757C54 */
  --color-blue-400: #929A6A;
  --color-blue-500: #757C54;
  --color-blue-600: #757C54;
  --color-blue-700: #5B6141;

  /* Overriding slate to secondary color #252D00 */
  --color-slate-800: #354000;
  --color-slate-900: #252D00;
  --color-slate-950: #151A00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



